@tailwind base;
@tailwind components;
@tailwind utilities;

/* Modal backdrop */
.modalDiv {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gradient borders */
.gradient {
  position: relative;
  z-index: 9999;
}

.gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  z-index: -1;
  padding: 2px;
  background: linear-gradient(120deg, #969696, #343434);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
